* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-footer-background-color: #404040;
    --lightskyblue: lightskyblue;
    --lightgray: lightgray;
    --about-me-work-border: #333366;
    --rgba-border-color-opacity: rgba(135,206,250,.8);
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: var(--header-footer-background-color);
}

header h1 {
    padding-left: 50px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 0px;
}

header nav ul li {
    font-size: 1.8vw;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

header a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 2px solid var(--lightskyblue);
    color: var(--lightskyblue);
}

body {
    background-color: var(--lightgray);
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: var(--header-footer-background-color);
    color: var(--lightskyblue);
}

footer a {
    text-decoration: none;
    border-bottom: 2px solide var(--lightskyblue);
    color: var(--lightskyblue);
    font-size: 1.8vw;
    font-weight: bold;
}

.nav-effects a:hover {
    color: var(--lightskyblue);
    font-weight: bold;
    text-shadow: 0px 0px 20px var(--lightskyblue);
}

.work-grid-container div:hover {
    mix-blend-mode: color-burn;
}

.footer-container a:hover {
    color: var(--lightskyblue);
    font-weight: bold;
    text-shadow: 0px 0px 20px var(--lightskyblue);
}

.hero {
    height: 100vh;
    background-image: url("../assets/images/detroit-skyline.jpeg");
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-size: 100% 100%;
    background-position: 100% 13%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.hero-subtitle {
    padding-bottom: 15px;
    padding-right: 15px;
}

.about-me-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin-top: 50px;
}

.about-me-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
}

.about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 35px;
    grid-row: 1 / span 4;
    padding-right: 10px;
    text-align: right;
    border-right: 2px solid var(--about-me-work-border);
    float: left; 
    margin-right: 1vw;   
    width: 12vw;
}

.about-me-item {
    padding-left: 10px;
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
}

.work-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: left;
    margin-top: 50px;
}

.work-grid-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 10px 10px;
}

.work-item.work-title {
    padding-top: 10px;
    font-size: 35px;
    grid-row: 1 / span 12;
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid var(--about-me-work-border);
    width: 12vw;
    float: left;
}

.work-item-project.taskinator {
    grid-column: 2 / span 2;
    grid-row: 1 / span 6;
    background-image: url(../assets/images/taskinator\ screenshot.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
}

.work-item-project.work-day-scheduler {
    grid-column: 3 / span 1;
    grid-row: 7 / span 3;
    background-image: url(../assets/images/work-day-scheduler\ screenshot.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
}

.work-item-project.run-buddy {
    grid-column: 2 / span 1;
    grid-row: 7 / span 3;
    background-image: url(../assets/images/run-buddy\ screenshot.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
}

.work-item-project.horiseon {
    grid-column: 2 / span 1;
    grid-row: 10 / span 3;
    background-image: url(../assets/images/horiseon\ screenshot.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
}

.work-item-project.taskmaster-pro {
    grid-column: 3 / span 1;
    grid-row: 10 / span 3;
    background-image: url(../assets/images/taskmaster-pro\ screenshot.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--rgba-border-color-opacity);
}

.work-item-project.coding-quiz {
    display: block;
    color: var(--lightgray);
}