* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-background: #404040;
    --blue: lightskyblue;
    --lightgray-background: lightgray;
    --heading-borders: #7b7b7e;
    --border-color: rgba(135,206,250,.8);
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: var(--header-background);
}

header h1 {
    padding-left: 50px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 0px;
}

header nav ul li {
    font-size: 1.8vw;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

header a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
}

body {
    background-color: var(--lightgray-background);
    font-family: Arial, Helvetica, sans-serif;
}

.nav-effects a:hover {
    color: var(--blue);
    font-weight: bold;
    text-shadow: 0px 0px 20px var(--blue);
}

.work-grid-container div:hover {
    mix-blend-mode: color-burn;
}

.footer-container a:hover {
    color: var(--blue);
    font-weight: bold;
    text-shadow: 0px 0px 20px var(--blue);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(4, 1fr);
}

.footer-grid-item.contact-me {
    padding-top: 0px;
    font-size: 35px;
    grid-row: 1 / span 4;
    padding-right: 10px;
    text-align: right;
    border-right: 2px solid var(--heading-borders);
    float: left; 
    margin-right: 1vw;   
    width: 12vw;
}

.footer-grid-item .phone {
    grid-row: 3 span / 1;
    grid-column: 1 / span 1;
}

.footer-grid-item .email {
    grid-row: 3 span / 1;
    grid-column: 2 / span 1;
}

.footer-grid-item .gitHub {
    grid-row: 3 span / 1;
    grid-column: 3 span / 1;
}

.hero {
    height: 100vh;
    background-image: url("../assets/images/detroit-skyline.jpeg");
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-size: 100% 85%;
    background-position: 100% 13%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.hero-subtitle {
    padding-bottom: 15px;
    padding-right: 15px;
}

.about-me-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin-top: 50px;
}

.about-me-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 2fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
}

.about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 35px;
    grid-row: 1 / span 4;
    padding-right: 10px;
    text-align: right;
    border-right: 2px solid var(--heading-borders);
    float: left; 
    margin-right: 1vw;   
    width: 12vw;
}

.about-me-item {
    padding-left: 10px;
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
}

.work-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: left;
    margin-top: 50px;
}

.work-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 10px 10px;
}

.work-item.work-title {
    padding-top: 10px;
    font-size: 35px;
    grid-row: 1 / span 12;
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid var(--heading-borders);
    width: 12vw;
    float: left;
}

.work-item-project.taskinator {
    grid-column: 2 / span 2;
    grid-row: 1 / span 6;
    background-image: url(../assets/images/taskinator\ screenshot.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--border-color);
}

.work-item-project.work-day-scheduler {
    grid-column: 3 / span 1;
    grid-row: 7 / span 4;
    background-image: url(../assets/images/work-day-scheduler\ screenshot.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--border-color);
}

.work-item-project.run-buddy {
    grid-column: 2 / span 1;
    grid-row: 7 / span 4;
    background-image: url(../assets/images/run-buddy\ screenshot.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--border-color);
}

.work-item-project.horiseon {
    grid-column: 2 / span 1;
    grid-row: 11 / span 4;
    background-image: url(../assets/images/horiseon\ screenshot.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--border-color);
}

.work-item-project.taskmaster-pro {
    grid-column: 3 / span 1;
    grid-row: 11 / span 4;
    background-image: url(../assets/images/taskmaster-pro\ screenshot.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-left: 0px;
    padding-bottom: 15px;
    text-align: left;
    border: .25vw solid var(--border-color);
}

.background {
    background-color: var(--blue);
}
